

button {
  border-radius: 3rem;
  font-size: 10rem; /* Adjust the size as needed */
  padding: 1rem; /* Adjust padding for better appearance */
  height: 25vh; /* Set height to make it a square */
  aspect-ratio: 70/70;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
